* {
  box-sizing: border-box;
}

.table__fixed-head-foot--wrap {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  width: 500px;
  height: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #333;
  background: #fff;
}